@import url(defaults.css);

/* Styling for welcome page */

.name-text {
    /* Set to the middle of the screen */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    font-size: 50px;
}

/* Styling for about section */

.about-flex-box {
    display: flex;
}

.about-paragraph {
    width: 60%;
}

.about-flex-box img {
    width: 30%;
    height: fit-content;
    border-radius: 50%;
    margin-left: auto;
}

.about-buttons {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
}

#skills-box {
    margin-top: 150px;
    width: auto;
    background-color: darkgray;
    overflow: hidden;
    padding: 20px;
    z-index: 5;
}

#skills-box ul {
    animation: move-right-to-left linear 12s infinite;
    display: flex;
    justify-content: space-around;
    width: 2500px;
}

#skills-box li {
    font-size: 25px;
    list-style: none;
    white-space: nowrap;
}

/* Animation for skills box, moves the text from right to left and then repeats */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1250px);
    }
}

/* Styling for contact section */

#contact {
    background-color: darkgrey;
    padding: 10px;
}

#contact h1 {
    font-size: 35px;
    text-align: center;
}

#contact div {
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    
}

#contact div img {
    margin: 10px;
}