@import url(defaults.css);


.resume-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
}

iframe {
    width: 816px;
    height: 1056px;
    border: none;
}