/* Reset margin and padding for all objects */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana;
}

.large-section {
    background-color: lightgray;
    min-height:100vh;
}

#contact {
    background-color: darkgrey;
    padding: 10px;
}

#contact h1 {
    font-size: 35px;
    text-align: center;
}

#contact div {
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    
}

#contact div img {
    margin-left: 10px;
    margin-right: 10px;
}

.name-text {
    /* Set to the middle of the screen */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    font-size: 50px;
}

#navbar {
    overflow: hidden;
    background-color: darkgrey;
}

#navbar a {
    float:left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

#navbar a:hover {
    background-color: grey;
}

#navbar a:active {
    background-color: grey;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }