.large-section {
    background-color: lightgray;
    min-height:100vh;
    width: 100%;
}

.name-text {
    /* Set to the middle of the screen */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    font-size: 50px;
}

#navbar {
    overflow: hidden;
    background-color: darkgrey;
}

#navbar a {
    float:left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

#navbar a:hover {
    background-color: grey;
}

#navbar a:active {
    background-color: grey;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* Reset margin and padding for all objects */
* {
    margin: 0;
    padding: 0;
}